.button {
    background-color: #0d52de;
    color: white;
    padding: 10px 70px;
    /* text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; */
}

.forgot-password {
    color: #0f4cc5;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 30px;
}